<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Appointment Summary</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <script type="text/javascript" th:src="@{/js/appointment-summary.js}"></script>
</head>


<body>
<main class="main_layout">
    <div id="summary">
        <h2 class="form-signin-heading">Appointment Summary</h2>

        <ul>
            <li>
                <h3>Date:</h3>
                <p></p>
            </li>
            <li>
                <h3>Time:</h3>
                <p></p>
            </li>
            <li>
                <h3>Description:</h3>
                <p></p>
            </li>
        </ul>

        <br />
    </div>

    <div id="rating">

        <h3>Submit a rating of your FixIT Consultant!</h3>
        <span id="1star" class="fa fa-star checked"></span>
        <span id="2star" class="fa fa-star checked"></span>
        <span id="3star" class="fa fa-star checked"></span>
        <span id="4star" class="fa fa-star checked"></span>
        <span id="5star" class="fa fa-star checked"></span>

        <button class="btn btn-lg btn-primary btn-block" id="submit-rating-button" type="submit">Submit Rating</button>
    </div>
</main>
</body>
</html>