<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Edit</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="../styles/customer-account-edit.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">FixIT</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Account</a></li>
                <li><a href="#">Appointment Requests</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="customer-account-edit">
        <form class="form-signin">
            <!-- TODO populate placeholders to actual account values -->
            <h2 class="form-signin-heading">Edit Account Details</h2>
            <input id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            </br>

            <label for="inputPassword" class="sr-only">Password</label>
            </br>

            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </br>

            <input type="password" id="inputPassword2" class="form-control" placeholder="Confirm Password" required>
            </br>

            <input id="email" class="form-control" placeholder="Email" required>
            </br>

            <input id="firstname" class="form-control" placeholder="First Name" required>
            </br>

            <input id="lastname" class="form-control" placeholder="Last Name" required>
            </br>

            <input id="address" class="form-control" placeholder="Address" optional>
            </br>

            <input id="creditcard" class="form-control" placeholder="Credit Card #" required>
            </br>

            <button class="btn btn-lg btn-danger" id="customer-account-edit-cancel" type="submit">Cancel</button>
            <button class="btn btn-lg btn-primary" id="customer-account-edit-submit" type="submit">Submit Changes</button>
        </form>
    </div>
</div><!-- /.container -->
</body>
</html>

<script>
    button = document.getElementById('customer-account-edit-submit');
    button.addEventListener('click', {
        try {
            const response = await fetch('localhost:8080/customer/login', {
                method: 'post',
                body: {
                    "username": document.getElementById('inputUsername').innerText,
                    "password": document.getElementById('inputPassword').innerText
                }
            });
            console.log('Completed!', response);
        } catch(err) {
            console.error(`Error: ${errorMsg}`);
        }
    });
</script>

<!-- TODO some script shit for cancel? Or cancel can just redirect back to customer account page-->