<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Welcome to FixIT</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/customer-signup.css}">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<div class="container">
    <form class="form-signin" id="signup-form">
        <h2 class="form-signin-heading">FixIT Consultant Sign-Up</h2>
        <input id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="password" id="inputPasswordCon" class="form-control" placeholder="Confirm Password" required>
        <input id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <input id="inputFirstName" class="form-control" placeholder="First Name" required autofocus>
        <input id="inputLastName" class="form-control" placeholder="Last Name" required autofocus>
        <input id="inputAddress" class="form-control" placeholder="Address" required autofocus>
        <br />
        <button class="btn btn-lg btn-primary btn-block" id="staff-signup-button" type="button">Sign up</button>
    </form>
</div> <!-- /container -->

<div id="return-to-login" class="container">
    <span>Already have an account? <a href="http://localhost:8080/staff/login">Return to login.</a></span>
</div>

<div id="back-to-home" class="container">
    <span><a href="http://localhost:8080/">Back to Home</a></span>
</div>

</body>
</html>

<script>
    button = document.getElementById('staff-signup-button');
    button.addEventListener('click', function() {

        const formData = {
            "username": document.getElementById('inputUsername').value,
            "password": document.getElementById('inputPassword').value,
            "email":  document.getElementById('inputEmail').value,
            "name":  document.getElementById('inputFirstName').value + " " + document.getElementById('inputLastName').value,
            "address":  document.getElementById('inputAddress').value,
        };
        document.getElementById("signup-form").reset();
        console.log(formData);
        localStorage.setItem("username", formData.username);
        $.ajax({
            url: "http://localhost:8080/staff/signup",
            type: 'POST',
            data: JSON.stringify(formData),
            contentType: "application/json",
            success: function() {
                window.location.href = "/staff/home";
            },
            error: function(jqXHR, textStatus, errorThrown){
                console.log(jqXHR.status);
                console.log(textStatus);
                console.log(errorThrown);
                // TODO - ERROR HANDLE
            }
        });
    });
</script>