<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Welcome to FixIT</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="../styles/customer-signup.css" rel="stylesheet">
</head>

<body>

<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading">Sign up now!</h2>
        <input id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input id="inputPassword" class="form-control" placeholder="Password" required>
        <input id="inputPassword2" class="form-control" placeholder="Confirm Password" required>
        <input id="email" class="form-control" placeholder="Email" required>
        <input id="firstname" class="form-control" placeholder="First Name" required>
        <input id="lastname" class="form-control" placeholder="Last Name" required>
        <input id="address" class="form-control" placeholder="Address" optional>
        <input id="creditcard" class="form-control" placeholder="Credit Card #" required>
        <br />

        <button class="btn btn-lg btn-primary btn-block" id="login-button" type="submit">Sign up</button>
    </form>

</div> <!-- /container -->

</body>
</html>

<script>
    button = document.getElementById('login-button');

    button.addEventListener('click', {
        try {
            const response = await fetch('localhost:8080/customer/login', {
                method: 'post',
                body: {
                    "username": document.getElementById('inputUsername').innerText,
                    "password": document.getElementById('inputPassword').innerText
                }
            });
            console.log('Completed!', response);
        } catch(err) {
            console.error(`Error: ${errorMsg}`);
        }
    });
</script>